.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.image {
    width: 100%;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 8px;
    background-color: rgba(87, 82, 82, 0.1);
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
}

.origin {
    font-size: 1rem;
    color: #777;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
}
